@model EventUfinal.Models.USER

@{
    ViewBag.Title = "Details";
}

<h2>Your profile</h2>

<ul class="user-details">
    <img src="~/images/USERS-01.png" />
    <li>@ViewBag.UserDetails.firstname</li>
    <li>@ViewBag.UserDetails.lastname</li>
    <li>@ViewBag.UserDetails.birthday</li>
    <li>@ViewBag.UserDetails.email</li>
    <li>@ViewBag.UserDetails.street</li>
</ul>